body{
	font-family: "Fira Code", "Consolas","Lucida Console", Monaco, monospace;
}
code{
	font-family: "Fira Code", "Consolas","Lucida Console", Monaco, monospace;
}
span.easteregg{
	background-color: #000000;
}
